

#kontakt-info {
  max-width: 1000px;
  padding: 1em;
  margin-bottom: 1.875em; // 30px/16 = 1.875em
  margin: 0 auto;
  
  @media #{$small-only} {
  text-align: center;  // Denne gjør at tekst i kontakt-info container blir align center kun på mobil.
  font-size: 1.5em;
  }
  
  
    h2 {  //Kontakt-info H2
      margin-bottom: 0.5em;   
      color: black;
  
      @media #{$small-only} { 
      font-size: 1.8em; //Kontakt-info H2 kun på mobil - Dette er tekster som Finn oss og Følg oss.
      }
 }
}



address {
  padding-bottom: 15px;
  font-style: normal;
}


.finn-oss-container {
  margin-bottom: 1.87em;  // 30/16 = 1.87
 }


.folg-oss-container {
   margin-bottom: 3.125em;  // 50/16 = 3.125
}



#butikken {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../img/kontakt/tell-butikken@2x.jpg);
  background-size: cover;
  min-height: 300px;
  margin-bottom: 2em;
  
  
  h1 {
    color: white;
    font-size: 4.5em;
  }
}
