

#student-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: $tell-light-light-gray;
  margin-bottom: 3.75em; //60px
  padding: 3em 1em;
  
  img {
    margin-bottom: 0.8em;
  }
  
  h2 {
    margin-bottom: 0.6em;
  }
  
  
  @media #{$medium-up} {
    p {
    
      max-width: 65%;
    }
  }
  
  
}





#hvorfor-mac-container{

  @media #{$medium-up} {
    max-width: 70%;
    margin: 0 auto;
  }
  
  
    h2 {
      text-align: center;
      color: $tell-green;
      margin-bottom: 1.2em;
    }
  
}

ul.hvorfor-mac-list {
  display: flex;
  flex-direction: column;
  text-align: center;

  
  @media #{$medium-up} { 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    
  }
  
  h4 {
    color: black;
    font-size: 1.25em;
  }
  
  
  li {
    padding: 1.5em;
    list-style: none;
    
    
    @media #{$medium-up} { 
      flex: 1 0 40%;
    }
    
    
  }
}

