/* ###  BASE  #### */


.pris {
  color: $tell-green;
  font-size: 0.9em;
}



strong {
  font-weight: 600;
  color: black;
}

.page-title {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 2em;
  color: $tell-green;
}



a img:hover {
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}


.sub-nav {
  padding-bottom: 0.25rem;
  line-height: 2em;
}


.with-padding {
  padding: 60px 0;
}

.with-padding-top {
  padding-top: 60px;
}

.with-padding-bottom {
  padding-bottom: 60px;
}


#kontakt {
  max-width: 900px;
  margin: 0 auto;
}

.kontakt-icon {
  margin-right: 0.8em;
  opacity: 0.6;
}

#kontakt h4 {
  margin-bottom: 1em;
}

